@font-face {
  font-family: "Pokemon Solid";
  src: url(./assets/Pokemon\ Solid.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(101, 135, 198);
  
 
  
}
.App {
  display: flex;
  justify-content: center;
  font-family: Calibri;
  font-size: 24px;
  align-items: column;
  flex-direction: column;
}
.TitleSection {
  background-color: #b1cf92;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #e7e7e6;
  padding: 20px;
  margin-bottom: 20px;
}
.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #5e98b1;
  font-size: 18px;
  padding-left: 10px;
}
.TitleSection button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #faf6f6;
  background-color: #b3aa3a;
}
.TitleSection button {
  cursor: pointer;
  font-family: "Pokemon Solid";
  letter-spacing: 6px;
}
.DisplaySection {
  width: 180px;
  height: 40px;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  text-align: center;
  color:aliceblue;
  
}
.Logo{
  width: 400px;
  height: auto;
  
  
}
.DisplaySection img {
  max-width: 100%;
  height: 150;
  margin-bottom: auto;
}

.PokemonCard {
  
  background-color: #b3aa32;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  text-align: center;
  width: 200px;
  height: auto;
  border: 2px solid black;
}

.PokemonCard h1 {
  font-family: "Pokemon Solid";
  letter-spacing: 6px;
  font-size: 24px;
  margin-bottom: 10px;
}

.PokemonCard img {
  max-width: 100%;
  height: auto;
  margin:  10px;
}

.PokemonCard h3 {
  font-size: 16px;
  font-family: "Pokemon Solid";
  letter-spacing: 6px;
}

.PokemonCard h4 {
  font-size: 20px;
  margin-top: 5px;
  font-family: "Pokemon Solid";
  letter-spacing: 6px;
}

